Repository mkinsz/react-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: commitlint.config.js
  commitlint.config.js
Due: none

perf: use prettier
  .babelrc
  .eslintrc.js
  .gitignore
  .prettierrc
  config/webpack.dev.js
  package.json
Due: none

chore: ts(2604)
  .babelrc
  .eslintrc.js
  .gitignore
  .prettierrc
  .stylelintignore
  app/src/components/authroute.tsx
  app/src/constants/icon.js
  app/src/containers/app.tsx
  app/src/helpers/store.ts
  app/src/index.tsx
  app/src/store/index.ts
  app/src/typings/local.d.ts
  config/webpack.dev.js
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

perf: tsconfig.json
  package.json
  tsconfig.json
  yarn.lock
Due: none

feat: login & regist
  .eslintrc.js
  .prettierrc
  app/src/actions/alert.actions.ts
  app/src/actions/auth.actions.ts
  app/src/actions/index.ts
  app/src/components/wrap.tsx
  app/src/constants/alert.consts.ts
  app/src/constants/auth.consts.ts
  app/src/constants/icon-heart.ts
  app/src/constants/icon.js
  app/src/constants/index.js
  app/src/constants/index.ts
  app/src/constants/user.constants.js
  app/src/containers/home.tsx
  app/src/containers/login.tsx
  app/src/containers/register.tsx
  app/src/helpers/history.ts
  app/src/helpers/index.ts
  app/src/helpers/store.ts
  app/src/index.tsx
  app/src/reducers/auth.reducer.ts
  app/src/reducers/index.js
  app/src/reducers/index.ts
  app/src/reducers/registration.reducer.js
  app/src/services/auth.service.ts
  app/src/services/index.ts
  app/src/services/service.ts
  app/src/typings/local.d.ts
  config/webpack.dev.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add graphql request
  app/src/actions/auth.actions.ts
  app/src/containers/app.tsx
  app/src/containers/home.tsx
  app/src/containers/login.tsx
  app/src/index.tsx
  app/src/services/auth.service.ts
  app/src/services/service.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add album
  app/assets/cube/1.jpg
  app/assets/cube/2.jpg
  app/assets/cube/3.jpg
  app/assets/cube/4.jpg
  app/assets/cube/5.jpg
  app/assets/cube/6.jpg
  app/src/components/album.less
  app/src/components/album.tsx
  app/src/containers/home.tsx
  config/webpack.base.js
  config/webpack.cfg.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: modify history jump
  app/src/actions/auth.actions.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add routes
  app/assets/logo.svg
  app/src/actions/auth.actions.ts
  app/src/app.tsx
  app/src/components/authroute.tsx
  app/src/components/dashboard.tsx
  app/src/components/globalstyles.tsx
  app/src/components/logo.tsx
  app/src/components/navbar/index.tsx
  app/src/components/navbar/navitem.tsx
  app/src/components/topbar.tsx
  app/src/containers/home.tsx
  app/src/containers/login.tsx
  app/src/containers/register.tsx
  app/src/index.tsx
  app/src/services/auth.service.ts
  app/src/typings/local.d.ts
  app/src/views/album/album.less
  app/src/views/album/index.tsx
  app/src/views/dashboard.tsx
  app/src/views/home.tsx
  app/src/views/login.tsx
  app/src/views/notfound.tsx
  app/src/views/register.tsx
  app/src/views/routes.ts
  app/src/views/theme/index.ts
  app/src/views/theme/shadows.ts
  app/src/views/theme/typography.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.less)
  stylelint --fix: any of: *.less
